* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family:Helvetica;
}

.container {
	width: 80%;
	margin-left:12%;
	margin-right:12%;
}

.sectionHeader{
	font-size:2rem;
	padding-top:15px;
}

.sectionBodyText{
	
}

hr{
	color: #dedede;
}

nav{
	display: flex;
	background-color: #ffffff;
	font-family:Futura;
	justify-content: space-between;
	flex-wrap:nowrap;
}

nav h3{
	color:#efbe00;
	margin:auto;
	padding:15px 0 0 15px;
}

nav a {
	color: #7f7f7f;
	text-decoration: none;
	padding-right:15px;
}

nav a:hover{
	color:#efbe00;
}

header{
	background: url("https://images.unsplash.com/photo-1598512946582-8aa2bca6abc0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1346&q=80");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	text-align: center;
	width:100%;
	padding:100px 0;
}

header h1{
	font-family:Futura;
	color:#ffffff;
	font-size:4rem;
	letter-spacing: 0.5rem;
}

header h3{
	color:#efbe00;
	font-size:2rem;
	position:relative;
	bottom:20px;
}

.aboutMePage{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.aboutMeText{
	padding-right:30px;
}

.profilePicture {
  border-radius: 50%;
  width:100%;
  max-width:250px;
  min-width:150px;
  margin-top:30px;
  margin-bottom:25px;
}

.portfolioPage p{
	max-width:480px;
}

.portfolioPage .sectionHeader{
	padding-top:15px;
}

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:1fr 1fr;
	grid-column-gap:10px;
}

.contactPage{
	height:20vh;
}
.contactPage .socialIcon{
	width:5%;
}