* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	width: 800px;
	margin: auto;
}

nav{
	display: flex;
	background-color: #ffffff;
	font-family:Futura;
	justify-content: space-between;
}

nav h3{
	color:rgba(239,190,0,1);
	margin:auto;
	padding:15px 0 0 15px;
}

nav a {
	color: rgba(127, 127, 127, 1);
	text-decoration: none;
	padding-right:15px;
}


header{
	background: url("https://images.unsplash.com/photo-1598512946582-8aa2bca6abc0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1346&q=80");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	text-align: center;
	padding:100px 0;
}

header h1{
	font-family:Futura;
	color:#ffffff;
	font-size:6vw;
}

header h3{
	color:rgba(239,190,0,1);
	font-size:1.5vw;
	position:relative;
	bottom:20px;
}

.profilePicture {
  border-radius: 50%;
  width:250px;
  margin-top:15px;
}

.aboutMePage{
	display:flex;
	justify-content:center;
}

.aboutMeText{
	padding-right:100px;
	
}
