@use "@/styles/colors/radix-colors" as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  section {
    width: min(100%, 980px);
    margin-left: auto;
    margin-right: auto;
  }
}
